<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crop Analyser</title>
    <link rel="stylesheet" href="../public/style_for_analyzer.css" />
  </head>
  <body>
    <nav class="navbar">
        <div class="logo_item">
          <i class="bx bx-menu" id="sidebarOpen"></i>
          <img src="../public/logo.png" alt=""></i>AgroFarm
        </div>
  
        
  
        <!-- <div class="navbar_content">
  
          <% if (check == 1) { %>
            <div><b>Welcome <%= user.username %></b></div>
            <a href="#" class="nav-link">
              <i class="fa-solid fa-user"></i>
            </a>
          <% } else { %>
            <a href="http://localhost:8080/login" class="nav-link">Log In</a>
            <a href="http://localhost:8080/signup" class="nav-link">Sign Up</a>
          <% } %>
    
        </div> -->
    </nav>
  
    <div class="container">
      <div class="chart-container ">
        <canvas id="barchart" width="1000" height="1000"> </canvas>
      </div>
      <div class="buttonstochange">
          <button id="changeChart">Change Chart</button>
          <button id="Crop1">Crop1</button>
          <button id="Crop2">Crop2</button>
          <button id="Crop3">Crop3</button>
          <button id="Crop4">Crop4</button>
          <button id="Crop5">Crop5</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>

    <script src="../public/chart.js"></script>
    <!-- Adjust the path if necessary -->
  </body>
</html>
